.Azul {
	background-color: #0000ff !important;
}

.Verde {
	background-color: #008000 !important;
}

.Vermelha {
	background-color: #e50000 !important;
}

.Amarela {
	background-color: yellow !important;
}

.Lilás {
	background-color: #b666d2 !important;
}

.Prata {
	background-color: #c0c0c0 !important;
}

.Rubi {
	background-color: #843f5b !important;
}

.Diamente {
	background-color: #808080;
}

.Esmeralda {
	background-color: #50c878 !important;
}

.Turquesa {
	background-color: #3f888f !important;
}

.Coral {
	background-color: #e0a380 !important;
}

.Safira {
	background-color: #0f52ba !important;
}

.Jade {
	background-color: #55c0a9 !important;
}
